<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title,style)">
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui/css/layui.css}" />
    <script th:src="@{/lib/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/public.js}" type="text/javascript" charset="utf-8"></script>
    <style th:replace="${style}"></style>
</head>
<body>
<!--body导航栏切片-->
<div class="header" th:fragment="header(pageName)">
    <div class="layui-container">
        <div class="logo" style="float: right;">
            <a th:href="@{/index}">网上书店</a>
        </div>
        <ul class="layui-nav layui-bg-blue" style="float: left;" th:if="${session.user!=null}">
           

        </ul>
       
    </div>
</div>

</body>
</html>